*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.switch{
    background-color: #08302a;
    border:none;
    position:relative;
    cursor:pointer;
    outline:none;
    border-radius:10px;
    font-size: 25px;
    color:white;

}
.fa-moon:after{
    content:"";
    display: block;
    height: 30px;
    width:30px;
    position:absolute;
    background: #bde6de;
    top:0;
    left: unset;
    border-radius:10px;
}
.menu{
    /*font-family: 'Dancing Script', cursive;*/

    width: 100%;
    background-color: #87afa7;
    height: 100px;
    position:fixed;
    top:0;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.menu.dark-mode{
    background-color: #08302a;

}
body.dark-mode{
    background-color: #08302a;
    color:white;
}
#buttons{
    margin-right: 50px;
    font-size: 5em;

}
/*.fa-moon{
    background-color: white;
    color: #87afa7;
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
}*/

#yas_pc{
    margin-top:15px;
    max-width:38%;
    shape-rendering:crispedges;/*no parece funcionar*/
}

/*<img id="yas-mini" src="yas-mini.svg">*/

#position{
    font-size: 3em;
    color: #514438;
    font-weight: 400;
}
#position.dark-mode{
    color:#ffebcd;
}
#greet{
    font-size: 4.5em;
    color: #514438;
    font-weight: 500;
}
#greet.dark-mode{
    color: #ffebcd;
}
p{
    font-size: 2.5em;
    line-height: 90px;
}
#name {
    font-family: 'Tangerine', cursive;
    margin-left: 50px;
    font-size: 70px;

}
h1{
    font-size: 6em;
    color:white;
}
#wrapper{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 155px 50px 40px 50px;
    /*margin-right: 50px;
    margin-left:50px;
    margin-top:170px; /*cambiar esto*/
    justify-content: space-around;

}
#img-about{
    display:flex;

}

#about {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 50px;
    align-items: center;
}

#blog{
    font-size: 0.6em;
    border:none;
    background-color:#87afa7;
    color: white;
}
#contact{
    margin-top:50px;
    font-size: 70px;
    width:100%;
    display: flex;
    justify-content: space-around;
    color: #bde6de;

}
#contact.dark-mode{
}
.far:hover{
    color: black;


}
.contact-icon{
    color:#bde6de;
}
#git-icon.dark-mode{
    color: #ffebcd;
}
#lnk-icon.dark-mode{
    color: #ffebcd;
}
#mail-icon.dark-mode{
    color: #ffebcd;
}
/*.dark-mode{
    color: #ffebcd;
}*/
.personal{
    font-size:30px;
    margin-right:25px;

}
footer{
    color:#514438;
    margin-top:20px;
}
footer.dark-mode{
    color: white;
}
.submenu{
    margin:25px;
    color: white;
    text-decoration:none;

}
#hamburger{
    background-color: transparent;
    color:white;
    font-size: 25px;
    cursor:pointer;
    border:none;
    display:none;
}
html{
    scroll-behavior: smooth;
    /*background:black;
    filter: invert(1) hue-rotate(180deg);*/
}


/*responsive*/
/*smartphone*/
@media (min-width:321px) and (max-width: 767px) {
    #yas_pc{
        max-width: 90%;
    }
    .personal{
        display:none;
        flex-direction: column;
        margin-right: 0;

    }
    .personal.show{
        display:flex;
        width: 100%;
        background-color: #bde6de;
        align-items: center;
        height: 500px;
        margin-top:26px
    }
    #hamburger{
        display: block;
        margin-right: 50px;
    }
    #greet{
        font-size: 2em;

    }
    #position{
        font-size:1.5em ;
    }
    p{
        font-size: 1.2em;
        line-height: 25px;
    }
    #contact{
        font-size: 35px;
    }

}

@media(min-width: 768px)and (max-width:1023px) {
    #yas_pc{
        max-width: 50%;
    }


}

@media(min-width: 1024px){
    #yas_pc{
        max-width:45%;
    }

    }



